<section 
id="about"
class="bg-slate-950 text-white py-24 px-6"
>

<div class="max-w-6xl mx-auto">


    <!-- Title -->

    <div class="text-center mb-16">

        <p class="text-emerald-400 uppercase tracking-[5px] text-sm">
            About Me
        </p>


    <h2 class="text-5xl font-bold mt-5">
        Building solutions with
        <span class="text-emerald-400 ml-3">
            Data, AI & Cloud
        </span>
    </h2>


    </div>



    <!-- Content -->

    <div class="grid md:grid-cols-2 gap-12 items-center">


        <!-- Text -->

        <div>


            <p class="text-slate-300 text-lg leading-8">

                I'm a BI Developer and Data Analyst passionate about
                transforming raw data into meaningful insights.

                <br/><br/>

                Combining experience in analytics, business intelligence,
                DevOps and artificial intelligence, I enjoy building
                practical solutions that connect technology with real
                business needs.

                <br/><br/>

                My goal is simple:
                take ideas, turn them into products and create value
                through technology.

            </p>


        </div>




        <!-- Cards -->

        <div class="grid gap-5">


            <div
            class="bg-slate-900 border border-slate-800 rounded-2xl p-6 hover:border-emerald-500 transition"
            >

                <h3 class="text-3xl font-bold text-emerald-400">
                    3+
                </h3>

                <p class="text-slate-300 mt-2">
                    Years Experience in Data & BI
                </p>

            </div>



            <div
            class="bg-slate-900 border border-slate-800 rounded-2xl p-6 hover:border-emerald-500 transition"
            >

                <h3 class="text-3xl font-bold text-emerald-400">
                    BI
                </h3>

                <p class="text-slate-300 mt-2">
                    Power BI • SQL • Analytics
                </p>

            </div>




            <div
            class="bg-slate-900 border border-slate-800 rounded-2xl p-6 hover:border-emerald-500 transition"
            >

                <h3 class="text-3xl font-bold text-emerald-400">
                    AI + Cloud
                </h3>

                <p class="text-slate-300 mt-2">
                    Building modern technology solutions
                </p>

            </div>


        </div>


    </div>


</div>

</section>