---
const base = import.meta.env.BASE_URL;
---

<header class="fixed top-0 left-0 w-full z-50 backdrop-blur-md bg-slate-950/70 border-b border-slate-800">

  <nav class="max-w-7xl mx-auto flex justify-between items-center px-8 py-5">

    <!-- Logo -->

    <a
      href={base}
      class="text-2xl font-black tracking-widest text-white">

      <span class="text-emerald-400">NIR</span>.

    </a>

    <!-- Navigation -->

    <div class="flex items-center gap-8 text-slate-300 font-medium">

      <a
        href="#about"
        class="hover:text-emerald-400 transition">
        About
      </a>

      <a
        href="#skills"
        class="hover:text-emerald-400 transition">
        Skills
      </a>

      <a
        href="#projects"
        class="hover:text-emerald-400 transition">
        Projects
      </a>

      <a
        href="#contact"
        class="hover:text-emerald-400 transition">
        Contact
      </a>

      <a
        href={`${base}resume.pdf`}
        target="_blank"
        class="bg-emerald-500 hover:bg-emerald-400 text-slate-950 font-semibold px-5 py-2 rounded-lg transition">

        Resume

      </a>

    </div>

  </nav>

</header>