<section id="projects"
class="py-24 bg-slate-900 text-white">


<div class="max-w-6xl mx-auto px-6">


<h2 class="text-4xl font-bold mb-10 text-emerald-400">
Projects
</h2>


<div class="grid md:grid-cols-2 gap-8">


<div class="bg-slate-800 p-8 rounded-xl">

<h3 class="text-2xl font-bold mb-4">
Podcast Match AI
</h3>

<p>
Platform connecting podcasters with relevant guests
using AI matching.
</p>

</div>


<div class="bg-slate-800 p-8 rounded-xl">

<h3 class="text-2xl font-bold mb-4">
Event Marketplace
</h3>

<p>
Platform connecting event producers with
professional service providers.
</p>

</div>



<div class="bg-slate-800 p-8 rounded-xl">

<h3 class="text-2xl font-bold mb-4">
AWS DevOps Project
</h3>

<p>
Docker, Kubernetes, AWS and CI/CD deployment.
</p>

</div>



<div class="bg-slate-800 p-8 rounded-xl">

<h3 class="text-2xl font-bold mb-4">
Power BI Analytics
</h3>

<p>
Business dashboards using SQL, DAX and Power BI.
</p>

</div>


</div>


</div>

</section>